@import "variables"
@import "../../node_modules/bootstrap/scss/_functions.scss"
@import "../../node_modules/bootstrap/scss/_variables.scss"
@import "../../node_modules/bootstrap/scss/_mixins.scss"

#trivia-settings
  .btn-group
    .btn
      @include button-outline-variant($secondary)
      cursor: pointer
      &.active
        cursor: default

#results
  .nav-item
    border-radius: 0

@mixin custom-nav-link($color)
  background-color: $color
  .nav-pills &
    border-radius: 0
  color: $white
  &:hover
    background-color: darken($color, 10%)
    color: $white
  &.active
    .nav-pills &
      background-color: $color
      border-color: darken($color, 20%)
      border-left: 10px solid $white
      border-top: 2px solid $white
      border-bottom: 2px solid $white
      border-right: 1px solid $white

$newline: #51BCD6
.nav-link-newline
  @include custom-nav-link($newline)

$comment: #46D663
.nav-link-comment
  @include custom-nav-link($comment)

.mw120
  min-width: 120px

#trivia-settings
  display: flex
  align-items: center
  justify-content: space-between
  .flex-1
    flex: 1
  .form-group
    margin: 0
    label
      margin: 0 15px

#trivia-result-content
  overflow-y: auto
  max-height: calc(100vh - 154px)

.trivia-node
  cursor: pointer
  border: 1px solid transparent
  transition: border-bottom 0.4s

  &.highlight
    border: 1px solid #2FBADC

.trivia-node > .trivia-node
  margin-left: 10px
 