[src/**/*.fs]
fsharp_max_if_then_else_short_width=50
fsharp_max_value_binding_width=50
fsharp_max_function_binding_width=50
fsharp_align_function_signature_to_indentation=true

[src/**/Encoders.fs]
fsharp_disable_elmish_syntax=true

[src/client/src/FantomasTools/Navigation.fs]
fsharp_disable_elmish_syntax=true