version 5.242.2
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0
# for the local Fantomas build
nuget FSharp.Compiler.Service 35.0.0

group Build

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Yarn
nuget Fake.DotNet.Cli
nuget Fantomas 3.3.0
nuget Fake.IO.Zip
nuget Fake.Tools.Git

group Infrastructure

source https://api.nuget.org/v3/index.json
storage: none
framework: netcoreapp3.1

nuget FSharp.Core 4.7.1
nuget Pulumi.Azure 2.1.0-preview

group Server

source https://api.nuget.org/v3/index.json
storage: none
framework: netcore3.1

nuget FSharp.Core
nuget Microsoft.NET.Sdk.Functions
# workaround for https://github.com/Azure/azure-functions-host/issues/5786
nuget Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator 1.1.5
nuget FSharp.Compiler.Service 35.0.0
nuget Thoth.Json.Net

group Latest

source https://api.nuget.org/v3/index.json
storage: none
framework: netcore3.1

nuget FSharp.Core
nuget Microsoft.NET.Sdk.Functions
# workaround for https://github.com/Azure/azure-functions-host/issues/5786
nuget Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator 1.1.5
nuget Thoth.Json.Net
nuget FSharp.Compiler.Service 34.1.0
nuget Fantomas 3.3.0


group Previous

source https://api.nuget.org/v3/index.json
storage: none
framework: netcore3.1

nuget FSharp.Core
nuget Microsoft.NET.Sdk.Functions
# workaround for https://github.com/Azure/azure-functions-host/issues/5786
nuget Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator 1.1.5
nuget Thoth.Json.Net
nuget FSharp.Compiler.Service 25.0.1
nuget Fantomas 2.9.2

group Client

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Reactstrap
nuget Thoth.Json
nuget Fable.Fetch
nuget Fable.Elmish.Browser
