version 5.242.2
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0
# for the local Fantomas build
nuget FSharp.Compiler.Service 39.0.0
nuget editorconfig
nuget MAB.DotIgnore

group Build

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Yarn
nuget Fake.DotNet.Cli
nuget Fake.IO.Zip
nuget Fake.Tools.Git

group Infrastructure

source https://api.nuget.org/v3/index.json
storage: none
framework: netcoreapp3.1

nuget FSharp.Core
nuget Pulumi.FSharp 2.0.0
nuget Pulumi.Azure 3.1.0
nuget Thoth.Json.Net 5.0.0

# Separate group for AST Viewer to easier swap out the Compiler version
group ASTViewer

source https://api.nuget.org/v3/index.json
storage: none
framework: net5.0

nuget FSharp.Core
nuget FSharp.Compiler.Service 39.0.0
nuget Microsoft.Azure.Functions.Worker
nuget Microsoft.Azure.Functions.Worker.Extensions.Http
nuget Microsoft.Azure.Functions.Worker.Sdk
nuget Thoth.Json.Net 5.0.0
nuget Ply

group Server

source https://api.nuget.org/v3/index.json
storage: none
framework: net5.0

nuget FSharp.Core
nuget Microsoft.Azure.Functions.Worker
nuget Microsoft.Azure.Functions.Worker.Extensions.Http
nuget Microsoft.Azure.Functions.Worker.Sdk
nuget FSharp.Compiler.Service 39.0.0
nuget Thoth.Json.Net 5.0.0
nuget Ply

group V4

source https://api.nuget.org/v3/index.json
storage: none
framework: net5.0

nuget FSharp.Core
nuget Microsoft.Azure.Functions.Worker
nuget Microsoft.Azure.Functions.Worker.Extensions.Http
nuget Microsoft.Azure.Functions.Worker.Sdk
nuget FSharp.Compiler.Service 39.0.0
nuget Microsoft.Build.Utilities.Core
nuget Thoth.Json.Net 5.0.0
nuget Fantomas.Extras 4.5.0
nuget Ply

group V3

source https://api.nuget.org/v3/index.json
storage: none
framework: net5.0

nuget FSharp.Core 4.7.0
nuget Microsoft.Azure.Functions.Worker
nuget Microsoft.Azure.Functions.Worker.Extensions.Http
nuget Microsoft.Azure.Functions.Worker.Sdk
nuget Thoth.Json.Net 4.1.0
nuget FSharp.Compiler.Service 34.1.0
nuget Fantomas 3.3.0
nuget Ply

group V2

source https://api.nuget.org/v3/index.json
storage: none
framework: net5.0

nuget Microsoft.Azure.Functions.Worker
nuget Microsoft.Azure.Functions.Worker.Extensions.Http
nuget Microsoft.Azure.Functions.Worker.Sdk
nuget Thoth.Json.Net 5.0.0
nuget FSharp.Compiler.Service 25.0.1
nuget Fantomas 2.9.2
nuget Ply

group Client

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget Fable.Core 3.2.6
nuget FSharp.Core
nuget Fable.Reactstrap 0.5.1
nuget Thoth.Json
nuget Fable.Fetch
nuget Feliz 1.43.0
nuget Feliz.Router 3.2.0
nuget Feliz.UseElmish
nuget Feliz.CompilerPlugins 1.5.0
nuget Fable.Browser.Url
