version 5.242.2
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0
# for the local Fantomas build
nuget FSharp.Core content: none
nuget editorconfig
nuget MAB.DotIgnore
nuget System.IO.Abstractions
nuget Ionide.KeepAChangelog.Tasks copy_local: true
nuget Dotnet.ReproducibleBuilds copy_local: true

group Build

source https://api.nuget.org/v3/index.json
storage: none
framework: net6.0

nuget FSharp.Core
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Yarn
nuget Fake.DotNet.Cli
nuget Fake.IO.Zip
nuget Fake.Tools.Git
nuget CliWrap
nuget FSharp.Control.Reactive

group Infrastructure

source https://api.nuget.org/v3/index.json
storage: none
framework: net6.0

nuget FSharp.Core
nuget Pulumi.FSharp 3.7.0
nuget Pulumi.Aws 4.38.1
nuget Thoth.Json.Net 5.0.0
nuget Humanizer.Core

# Separate group for AST Viewer to easier swap out the Compiler version
group ASTViewer

source https://api.nuget.org/v3/index.json
storage: none
framework: net6.0

nuget FSharp.Core
nuget Fantomas.FCS
nuget Thoth.Json.Net 7.1.0
nuget Microsoft.Net.Http.Headers
nuget Amazon.Lambda.Core 2.0.0
nuget Amazon.Lambda.Serialization.SystemTextJson 2.1.0
nuget Amazon.Lambda.APIGatewayEvents 2.4.0
nuget Suave

group Server

source https://api.nuget.org/v3/index.json
storage: none
framework: net6.0

nuget FSharp.Core
nuget Thoth.Json.Net 5.0.0
nuget Microsoft.Net.Http.Headers
nuget Amazon.Lambda.Core 2.0.0
nuget Amazon.Lambda.Serialization.SystemTextJson 2.1.0
nuget Amazon.Lambda.APIGatewayEvents 2.4.0
nuget Suave

group V4

source https://api.nuget.org/v3/index.json
storage: none
framework: net6.0

nuget FSharp.Core
nuget FSharp.Compiler.Service 41.0.3
nuget Microsoft.Build.Utilities.Core
nuget Thoth.Json.Net 5.0.0
nuget Fantomas.Extras 4.7.9
nuget Microsoft.Net.Http.Headers
nuget Amazon.Lambda.Core 2.0.0
nuget Amazon.Lambda.Serialization.SystemTextJson 2.1.0
nuget Amazon.Lambda.APIGatewayEvents 2.4.0
nuget Suave

group V3

source https://api.nuget.org/v3/index.json
storage: none
framework: net6.0

nuget Thoth.Json.Net 5.0.0
nuget FSharp.Compiler.Service 34.1.0
nuget Fantomas 3.3.0
nuget Microsoft.Net.Http.Headers
nuget Amazon.Lambda.Core 2.0.0
nuget Amazon.Lambda.Serialization.SystemTextJson 2.1.0
nuget Amazon.Lambda.APIGatewayEvents 2.4.0
nuget Suave

group V2

source https://api.nuget.org/v3/index.json
storage: none
framework: net6.0

nuget Thoth.Json.Net 5.0.0
nuget FSharp.Compiler.Service 25.0.1
nuget Fantomas 2.9.2
nuget Microsoft.Net.Http.Headers
nuget Amazon.Lambda.Core 2.0.0
nuget Amazon.Lambda.Serialization.SystemTextJson 2.1.0
nuget Amazon.Lambda.APIGatewayEvents 2.4.0
nuget Suave

group Client

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget Fable.Core 3.2.6
nuget FSharp.Core 5.0.2
nuget Fable.Reactstrap 0.5.1
nuget Thoth.Json
nuget Fable.Fetch
nuget Feliz 1.43.0
nuget Feliz.Router 3.2.0
nuget Feliz.UseElmish
nuget Feliz.CompilerPlugins 1.5.0
nuget Fable.Browser.Url
