blink {
  font-weight: bolder;
}

.flex-1 {
  flex: 1;
}

.hover-white:hover {
  color: #FFF;
}

#tab-content .tab-result.fantomas-result {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fantomas-editor-container {
  flex: 1;
}

.idempotent-error {
  font-size: 0.8rem;
}
.idempotent-error h6 {
  font-size: 0.9rem;
}
.idempotent-error .btn {
  margin: 5px 0;
}