.tag {
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 0 0.75em;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  height: 2em;
}
.tag.is-large {
  font-size: 1.25rem;
}

#tokens-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tokens-settings .form-group {
  flex: 1;
  margin: 0;
}
#tokens-settings .form-group input {
  border-radius: 0;
}

#tokens {
  height: 50%;
  width: 100%;
  overflow: auto;
}
#tokens .lines {
  display: inline-flex;
  flex-direction: column;
}

#tokens .title, #details .title {
  margin: 1rem;
}

.line {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.line:nth-child(even) {
  background-color: #fafafa;
}
.line:nth-child(even).active {
  background-color: rgba(34, 167, 240, 0.5);
}
.line:nth-child(even):hover {
  background-color: #52baf3;
}
.line:nth-child(odd) {
  background-color: #f5f5f5;
}
.line:nth-child(odd).active {
  background-color: rgba(34, 167, 240, 0.5);
}
.line:nth-child(odd):hover {
  background-color: #52baf3;
}
.line .line-number {
  min-width: 25px;
  display: inline-block;
  border-right: 1px solid #211426;
}
.line .tokens {
  white-space: nowrap;
  margin-left: 5px;
  margin-top: 5px;
}

.token {
  display: inline-block;
  cursor: pointer;
  white-space: normal;
  height: 100%;
  overflow-y: hidden;
}

.is-let, .tag.is-let {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-let:hover, .tag.is-let:hover {
  background-color: #54aeee;
}

.is-match, .tag.is-match {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-match:hover, .tag.is-match:hover {
  background-color: #54aeee;
}

.is-with, .tag.is-with {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-with:hover, .tag.is-with:hover {
  background-color: #54aeee;
}

.is-private, .tag.is-private {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-private:hover, .tag.is-private:hover {
  background-color: #54aeee;
}

.is-mutable, .tag.is-mutable {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-mutable:hover, .tag.is-mutable:hover {
  background-color: #54aeee;
}

.is-if, .tag.is-if {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-if:hover, .tag.is-if:hover {
  background-color: #54aeee;
}

.is-then, .tag.is-then {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-then:hover, .tag.is-then:hover {
  background-color: #54aeee;
}

.is-else, .tag.is-else {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-else:hover, .tag.is-else:hover {
  background-color: #54aeee;
}

.is-elif, .tag.is-elif {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-elif:hover, .tag.is-elif:hover {
  background-color: #54aeee;
}

.is-namespace, .tag.is-namespace {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-namespace:hover, .tag.is-namespace:hover {
  background-color: #54aeee;
}

.is-module, .tag.is-module {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-module:hover, .tag.is-module:hover {
  background-color: #54aeee;
}

.is-class, .tag.is-class {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-class:hover, .tag.is-class:hover {
  background-color: #54aeee;
}

.is-end, .tag.is-end {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-end:hover, .tag.is-end:hover {
  background-color: #54aeee;
}

.is-type, .tag.is-type {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-type:hover, .tag.is-type:hover {
  background-color: #54aeee;
}

.is-in, .tag.is-in {
  background-color: #6bb9f0;
  color: #FFF;
}
.is-in:hover, .tag.is-in:hover {
  background-color: #54aeee;
}

.is-hash_if, .tag.is-hash_if {
  background-color: #4e80f0;
  color: #FFF;
}
.is-hash_if:hover, .tag.is-hash_if:hover {
  background-color: #366fee;
}

.is-whitespace, .tag.is-whitespace {
  background-color: #ecf0f1;
}
.is-whitespace:hover, .tag.is-whitespace:hover {
  background-color: #dde4e6;
}

.is-ident, .tag.is-ident {
  background-color: #c8f7c5;
}
.is-ident:hover, .tag.is-ident:hover {
  background-color: #b3f4af;
}

.is-equals, .tag.is-equals {
  background-color: #f15a22;
  color: #FFF;
}
.is-equals:hover, .tag.is-equals:hover {
  background-color: #eb4a0f;
}

.is-int32, .tag.is-int32 {
  background-color: #f1e7fe;
}
.is-int32:hover, .tag.is-int32:hover {
  background-color: #e3cffd;
}

.is-char, .tag.is-char {
  background-color: #f1e7fe;
}
.is-char:hover, .tag.is-char:hover {
  background-color: #e3cffd;
}

.is-line_comment, .tag.is-line_comment {
  background-color: #87d37c;
}
.is-line_comment:hover, .tag.is-line_comment:hover {
  background-color: #76cd69;
}

.is-string, .tag.is-string {
  background-color: #fef160;
}
.is-string:hover, .tag.is-string:hover {
  background-color: #feef47;
}

.is-string_text, .tag.is-string_text {
  background-color: #fef15f;
}
.is-string_text:hover, .tag.is-string_text:hover {
  background-color: #feef46;
}

#details {
  height: 50%;
}
#details .detail-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%;
}
#details .title {
  margin-bottom: 30px;
}
#details small {
  margin-left: 0.3rem;
}
#details .detail {
  display: inline-block;
  border-right: 1px solid rgba(33, 20, 38, 0.75);
  padding: 0.5rem;
  transition: 0.4s background;
}
#details .detail.lit {
  background-color: rgba(34, 167, 240, 0.34);
}

pre {
  padding: 0 5px;
  display: inline;
}
pre code {
  color: #dc3545;
}