@import "variables"

#ast-settings
  .setting-row
    display: flex

    > input
      border-radius: 0
      max-height: 32px

    > input, .btn-group
      flex: 1

    .btn
      font-size: 12px

.react-json-view
  display: flex
  min-height: 0px
  flex: 1
  overflow-y: auto
  max-height: 75vh

//#graph
//  width: 49vw
//  height: 70vh
//  border: 1px solid lightgray
