@import "variables"

@import "node_modules/bootstrap/scss/_functions.scss"
@import "node_modules/bootstrap/scss/_variables.scss"
@import "node_modules/bootstrap/scss/_mixins.scss"
@import "node_modules/bootstrap/scss/_root.scss"
@import "node_modules/bootstrap/scss/_reboot.scss"
@import "node_modules/bootstrap/scss/_type.scss"
@import "node_modules/bootstrap/scss/_images.scss"
@import "node_modules/bootstrap/scss/_code.scss"
@import "node_modules/bootstrap/scss/_grid.scss"
@import "node_modules/bootstrap/scss/_tables.scss"
@import "node_modules/bootstrap/scss/_forms.scss"
@import "node_modules/bootstrap/scss/_buttons.scss"
@import "node_modules/bootstrap/scss/_transitions.scss"
// @import "node_modules/bootstrap/scss/_dropdown.scss"
@import "node_modules/bootstrap/scss/_button-group.scss"
@import "node_modules/bootstrap/scss/_input-group.scss"
// @import "node_modules/bootstrap/scss/_custom-forms.scss"
@import "node_modules/bootstrap/scss/_nav.scss"
@import "node_modules/bootstrap/scss/_navbar.scss"
// @import "node_modules/bootstrap/scss/_card.scss"
// @import "node_modules/bootstrap/scss/_breadcrumb.scss"
// @import "node_modules/bootstrap/scss/_pagination.scss"
@import "node_modules/bootstrap/scss/_badge.scss"
@import "node_modules/bootstrap/scss/_jumbotron.scss"
@import "node_modules/bootstrap/scss/_alert.scss"
@import "node_modules/bootstrap/scss/_progress.scss"
// @import "node_modules/bootstrap/scss/_media.scss"
@import "node_modules/bootstrap/scss/_list-group.scss"
@import "node_modules/bootstrap/scss/_close.scss"
@import "node_modules/bootstrap/scss/_toasts.scss"
@import "node_modules/bootstrap/scss/_modal.scss"
@import "node_modules/bootstrap/scss/_tooltip.scss"
@import "node_modules/bootstrap/scss/_popover.scss"
// @import "node_modules/bootstrap/scss/_carousel.scss"
@import "node_modules/bootstrap/scss/_spinners.scss"
@import "node_modules/bootstrap/scss/_utilities.scss"
// @import "node_modules/bootstrap/scss/_print.scss"

#elmish-app
  height: 100vh

.fa-github-wrapper
  width: 24px
  display: inline

  .fa-github
    position: relative
    top: -2px
    left: -2px

.loader
  background-color: transparentize($white, 0.5)
  height: 100%
  .inner
    position: relative
    top: 50%
    left: 50%
    z-index: 1
    transform: translate(-50%,-50%)
    width: $spinner-width
    height: $spinner-height

.pointer
  cursor: pointer

.bred
  border: 1px solid red

.version-bar
  font-size: 10px
  line-height: 14px
  background-color: $primary
  color: $white
  text-align: center

#tab-content
  display: flex
  flex: 1
  flex-direction: column

  .tab-result
    flex: 1
    overflow-y: auto

  .tab-settings

@import "trivia"
@import "tokens"
@import "ast"
@import "fantomas"